@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;400&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header {
  margin-top: 1rem;
  font-size: 4rem;
  text-align: center;
  font-family: "Exo", sans-serif;
}

@media only screen and (max-device-width: 600px) {
  .innerIconContainer {
    margin-left: 4rem;
  }
}
