.card {
  width: 40rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding: 0;
  float: none;
}

.iconRow {
  display: flex;
  width: 100%;
  flex-direction: row;
}

@media only screen and (max-device-width: 600px) {
  .card {
    width: 20rem;
    margin-bottom: 0.5rem;
  }
}
